@charset "UTF-8";
html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
}
form{
  height : inherit;
}
p{
  margin: 0;
  padding: 0;
  background: lightgray;
}
ul{
  margin: 0;
  padding: 8px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  background:lightblue;
}
ul>li{
  display: block;
  margin: 0 0 8px 0;
  padding: 4px;
  width: calc(100% - 8px);
  background: #ffffff;
}
li.title{
  font-size: 1.2em;
  font-weight: bold;
}
li.part_selection{
  height: 120px;
}
li.part_selection>div{
  padding: 0;
  width: calc((100% - 8px)/3);
  height: 100%;
  background: #999999;
}
div.choice_part_1{
  margin-right:4px;
  float: left;
}
div.choice_part_1>label{
  display: block;
  margin: 0;
  padding: 12px;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  background: red;
  color: #ffffff;
}
div.choice_part_2{
  margin-right:4px;
  float: left;
}
div.choice_part_2>label{
  display: block;
  margin: 0;
  padding: 12px;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  background: blue;
  color: #ffffff;
}
div.choice_part_3{
  margin: 0;
  float: left;
}
div.choice_part_3>label{
  display: block;
  margin: 0;
  padding: 12px;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  background: green;
  color: #ffffff;
}
input[type=radio]:checked+label{
  background: #999999;
}
li.back{
  display: inline-block;
  width: calc(50% - 12px);
  margin-right: 8px;
  float: left;
  text-align: center;
}
li.next{
  display: inline-block;
  width: calc(50% - 12px);
  float: left;
  text-align: center;
}
li.next>label{
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
