body,html,div,nav{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  letter-spacing: 1px;
}
.fl{
  display: inline-block;
  float: left;
}
.fr{
  display: inline-block;
  float: right;
}
.fixed{
  position: fixed;
}
.absolute{
  position: absolute;
}
a{
  color: inherit;
  text-decoration: none;
}
.t_center{
  text-align: center;
}
.t_left{
  text-align: left;
}
.t_right{
  text-align: right;
}
.t_justify{
  text-align: justify;
}
.background{
  width: 100%;
  height: 100%;
}
