@charset "UTF-8";

td#disabled{
 background: transparent;
}
td#vip{
 background: purple;
 opacity: .1;
 cursor: not-allowed;
}
td#booked{
 background: red;
 opacity: .2;
 cursor: not-allowed;
}
td#selected{
 background: red;
 opacity: .2;
 cursor: not-allowed;
}
label#choosable{
 background: gray;
 cursor: pointer;
}
label#choosable:hover{
 background: lightgray;
}
input[type=radio]:checked + label#choosable{
  background: #FF242C;
}

td#pinned{
  background: #29C770;
}
td#not_pinned{
  background: lightgray;
}

td#select{
  background: white;
}
