@charset "UTF-8";
html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
}
form{
  height : inherit;
}
p{
  margin: 0;
  padding: 0;
}
p.table_title{
  background: lightgray;
}
ul{
  margin: 0;
  padding: 8px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  background:lightblue;
  overflow: auto;
}
ul>li{
  display: block;
  margin: 0 0 8px 0;
  padding: 4px;
  width: calc(100% - 8px);
  background: #ffffff;
}
li.title{
  font-size: 1.2em;
}
div.default_table_container{
  overflow: auto;
  text-align: center;
}
div.table_wrap{
  display: inline-block;
}
table.default{
  border-spacing: 4px;
  line-height: .5em;
  margin: 0;
  padding: 0;
  /* font-size를 td의 너비와 같게 해놓지 않으면 뭔가 꼬임 */
  font-size: 12px;
}
caption{
  padding: 8px;
  font-size: 20px;
  color: #000000;
}
td.default{
  width: 12px;
  height: 12px;
  font-size: 0;
}
li.input_table_container{
  height:calc(100% - 48px - 59px);
}
div.input_table_container{
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: center;
}
table.input{
  border-spacing: 4px;
  color: #ffffff;
}
td.input{
  width: 56px;
  height: 56px;
  margin: 0;
  padding: 0;
  line-height: .8em;
}
span.input{
  font-size: 0.7em;
  margin: 0;
  padding: 0;
  opacity: .7;
}
li.part_selection{
  height: 120px;
}
li.part_selection>div{
  padding: 0;
  width: calc((100% - 8px)/3);
  height: 100%;
}
a{
  color: inherit;
  text-decoration: none;
}
div.choice_part_1{
  margin-right:4px;
  float: left;
}
div.choice_part_1>a{
  display: block;
  margin: 0;
  padding: 12px;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  background: red;
  color: #ffffff;
}
div.choice_part_1>a.checked{
  background: gray;
}
div.choice_part_2{
  margin-right:4px;
  float: left;
}
div.choice_part_2>a{
  display: block;
  margin: 0;
  padding: 12px;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  background: blue;
  color: #ffffff;
}
div.choice_part_2>a.checked{
  background: gray;
}
div.choice_part_3{
  margin: 0;
  float: left;
}
div.choice_part_3>a{
  display: block;
  margin: 0;
  padding: 12px;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  background: green;
  color: #ffffff;
}
div.choice_part_3>a.checked{
  background: gray;
}
div.part_selection_circle{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffffff;
}
li.back{
  display: inline-block;
  width: calc(50% - 12px);
  margin-right: 8px;
  float: left;
  text-align: center;
}
li.next{
  display: inline-block;
  width: calc(50% - 12px);
  float: left;
  text-align: center;
}
li.next>label{
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
