body{
}
#Header, #topMenuIcon, #topTitle, #topMenuText, #topMenuText>a{
  background: gray;
  color: white;
  text-decoration: none;
}
#topBack{
  background: lightgray;
  color: gray;
}
#topHidden{
  background: lightgray;
  color: white;
}
#topHiddenButton{
  background: white;
  color: gray;
  border-color: gray;
}
/* "다음" 버튼 */
#seatFormButton{
  background: lightgray;
  color: gray;
}
/* TICKETING_SELECT */
#partSelect{

}
.part{
  background: lightgray;
  color: white;
}
.part:hover{
  color: gray;
}
.selectedPart{
  background: transparent;
  color: gray;
}
#seatTableCaption, .exampleWrap{
  color: gray;
}
