body{
}
/* 상단바 영역 */
#Header, #topMenuIcon, #topTitle, #topMenuText, #topMenuText>a{
  background: gray;
  color: white;
  text-decoration: none;
}
/* 상단바 "뒤로" 버튼 */
#topBack{
  background: lightgray;
  color: gray;
}
/* 모바일버젼 수정/조회 박스 */
#topHidden{
  background: lightgray;
  color: white;
}
/* 모바일버젼 수정/조회 버튼 */
#topHiddenButton{
  background: white;
  color: gray;
  border-color: gray;
}
/* 공지 사항 */
#noticeBoard{
  background: #FBFFC7;
  color: gray;
  border-color: lightgray;
}
/* "다음" 버튼 */
#seatFormButton{
  background: lightgray;
  color: white;
}
/* "다음" 버튼 (마우스 올렸을 시) */
#seatFormButton:hover{
  color: gray;
}
/* 1부, 2부, 3부...(시간선택) 버튼 */
.part{
  background: lightgray;
  color: white;
}
/* 시간선택 버튼 (마우스 올렸을 시) */
.part:hover{
  color: gray;
}
/* 선택된 시간 */
.selectedPart{
  background: transparent;
  color: gray;
}
/* Content 영역안에 들어가는 글씨 */
#seatTableCaption, .exampleWrap, .userInfoLabel{
  color: gray;
}
/* 좌석표 접기/펴기 버튼 */
#tableFolder{
  background: lightgray;
  color: white;
}
/* 좌석표 접기/펴기 버튼 (마우스 올렸을 시) */
#tableFolder:hover{
  color: gray;
}
/* 학번, 이름, 비밀번호 글자 */
.userInfoLabel{
  color: gray;
}
/* 예매자 정보 입력란 */
.userInfoInput{
  color: black;
  background: transparent;
  border-color: gray;
}
/* 비밀번호 보기 버튼 */
#pwShow{
  background: lightgray;
  color: white;
}
/* 비밀번호 보기 버튼 (마우스 올렸을 시) */
#pwShow:hover{
  color: gray;
}
