@charset "UTF-8";
@font-face {
  font-family: 'Hanna';
  font-style: normal;
  font-weight: 400;
  src: url(../../asset/fonts/BM-HANNA.eot);
  src: url(../../asset/fonts/BM-HANNA.eot?#iefix) format('embedded-opentype'),
       url(../../asset/fonts/BM-HANNA.woff2) format('woff2'),
       url(../../asset/fonts/BM-HANNA.woff) format('woff'),
       url(../../asset/fonts/BM-HANNA.ttf) format('truetype');
}
/* Float bug */
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;height:0}
.clearfix{display: inline-block}
/* Hides from IE-mac \*/
* html .clearfix{height:1%}

body, html{
  font-family: 'Hanna', "맑은 고딕", serif;
  font-size: 20px;
  overflow: hidden;
}
body{
  overflow-y: auto;
}
input[type=button]{
  padding: 6px;
  border: 3px solid;
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
  border-radius: 8px;
}
#topHidden{
  width: 100%;
  height: 84px;
  text-align: center;
  line-height: 1.8em;
  padding: 8px;
}
#Header{
  height: 42px;
  letter-spacing: 1px;
  overflow: hidden;
}
#toHome{
  height: 1em;
  width: 58px;
  padding: 11px;
  text-align: center;
  cursor: pointer;
}
#topIcon{
  width: 22px;
  height: 22px;
  padding: 10px 0 10px 10px;
  cursor: pointer;
  float: left;
}
#topText{
  height: 1em;
  width: 180px;
  padding: 11px;
}
#topMenu{
  height: 1em;
  width: 120px;
  padding: 11px;
  cursor: pointer;
}
#TableContainer{
  height: 384px;
  text-align: center;
  margin: 12px auto;
}
div#pinnedTableWrap{
  max-width: 412px;
  margin: 0 auto;
}
table.pinned{
  width: 100%;
  width: 100%;
  border-spacing: 4px;
}
td.pinned{
  width: 18px;
  height: 18px;
}
#UserInformation{
  margin: 0 auto;
}
#nextWrap{
  margin: 0 auto;
}
#toNext{
  width: 96px;
  height: 1em;
  padding: 6px;
  margin-right: 4px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
}
.fillInput{
  width: 80px;
  padding: 4px;
  font-family: inherit;
  border: 3px solid;
  border-radius: 6px;
}
