@charset "UTF-8";
@font-face {
  font-family: 'Hanna';
  font-style: normal;
  font-weight: 400;
  src: url(../../asset/fonts/BM-HANNA.eot);
  src: url(../../asset/fonts/BM-HANNA.eot?#iefix) format('embedded-opentype'),
       url(../../asset/fonts/BM-HANNA.woff2) format('woff2'),
       url(../../asset/fonts/BM-HANNA.woff) format('woff'),
       url(../../asset/fonts/BM-HANNA.ttf) format('truetype');
}
html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: 'Hanna', "맑은 고딕", serif;
  font-size: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}
#topHidden{
  width: 100%;
  height: 84px;
  text-align: center;
  line-height: 1.8em;
  padding: 8px;
}
#topHiddenButton{
  padding: 6px;
  border: 3px solid;
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
  border-radius: 8px;
}
#Header{
  width: 100%;
  height: 42px;
  letter-spacing: 1px;
  overflow: hidden;
}
#topMenuIcon{
  display: inline-block;
  width: 22px;
  height: 22px;
  padding: 10px 0 10px 10px;
  cursor: pointer;
  float: left;
}
#topTitle{
  display: inline-block;
  width: auto;
  height: 20px;
  padding: 11px;
  float: left;
}
#topMenuText{
  display: inline-block;
  width: 120px;
  height: 20px;
  padding: 11px;
  cursor: pointer;
  float: right;
}
#topBack{
  display: inline-block;
  width: 58px;
  height: 20px;
  padding: 11px;
  text-align: center;
  cursor: pointer;
  float: right;
}
#Content{
  width: auto;
  max-width: 720px;
  margin: 0 auto;
  padding: 8px;
}
#noticeBoard{
  width: auto;
  height: auto;
  margin-bottom:12px;
  padding: 5px;
  font-size: 16px;
  border: 2px solid;
  border-radius: 6px;
}
#seatFormButton{
  padding: 8px 12px;
  border: none;
  font-family: 'Hanna', "맑은 고딕", serif;
  font-size: 1em;
  letter-spacing: 1px;
  cursor: pointer;
  float: right;
}
#partSelect{
 width: 100%;
 height: 24px;
 border-spacing: 0px;
}
.part{
 text-align: center;
 cursor: pointer;
}
.selectedPart{
  cursor: default;
}
#seatTable{
  width: 100%;
  border-spacing: 2px;
}
#seatTableCaption{
  margin: 8px 0 12px 0;
  font-size: 1.5em;
}
.seatCell{
  /* IE 6, 7, 8, 9 hack "\9" */
  height: 40px\9;
}
#exampleContainer{
  width: 100%;
  height:48px;
  margin-top: 8px;
  padding:4px;
  font-size:.8em;
  line-height:.8em;
}
i.exampleWrap{
  display:inline-block;
  width: auto;
  height: 16px;
  margin-bottom: 8px;
  font-style: normal;
}
.exampleIcon{
  display:inline-block;
  width:16px;
  height:16px;
  cursor: default;
}
.exampleText{
  display:inline-block;
  width: auto;
  margin: 0 14px 0 4px;
  cursor: default;
}
#tableFolder{
  width: auto;
  height: 20px;
  margin: 12px 1px 4px 1px;
  padding: 4px;
  text-align: center;
  cursor: pointer;
}
.userInfoInput{
  width: 120px;
  padding: 4px;
  font-family: 'Hanna', "맑은 고딕", serif;
  font-size: 1em;
  border: 2px solid;
  border-radius: 6px;
}
#pwShow{
  margin-left: 8px;
  padding: 4px 8px;
  cursor: pointer;
}
form{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.hidden{
  display: none;
}
