@charset "UTF-8";

#bodyWrap{
  width: 100%;
  margin: 0;
  padding: 42px 0 0 0;
  color: #ffffff;
  background-color: #ffffff;
  text-transform: uppercase;
  font-size: 20px
}
#containerWrap{
  /*  100% - padding-left, right  */
  width: calc(100% - 32px - 32px);
  height: calc(100% - 184px);
  min-height: 400px;
  background-color: #666666;
  -webkit-border-radius: 24px 24px 0 0;
  padding: 32px 32px 48px 32px;
  margin: 0;
  text-align: center;
}
form{
  width: auto;
}
input#id{
  width: 92px;
  heigh: 36px;
  text-align: center;
}
input#name{
  width: 92px;
  heigh: 36px;
  text-align: center;
}
input#pw{
  width: 216px;
  heigh: 36px;
  text-align: center;
}
input#info{
  width: calc(100% - 32px);
  max-width: 920px;
  height: 64px;
  font-size: 1em;
  padding-left: 12px;
  padding-right: 12px;
}
label.submit{
  display: inline-block;
  margin: 8px 0 8px 0;
  padding: 12px 12px 12px 12px;
  background-color: #ffffff;
  color:#222222;
  -webkit-border-radius: 4px;
  cursor: pointer;
}
.card_1{
  margin: 0 0 12px 0;
  padding: 12px 12px 12px 12px;
  background-color: #ffffff;
  color: #222222;
  -webkit-border-radius: 16px;
}
.card_2{
  margin: 0 32px 12px 32px;
  padding: 12px 12px 12px 12px;
  background-color: #666666;
  color: #ffffff;
  -webkit-border-radius: 16px;
}
