#Header, #topMenuIcon, #topTitle, #topMenuText, #topMenuText>a{
  background: gray;
  color: white;
  text-decoration: none;
}
#topBack{
  background: lightgray;
  color: gray;
}
#subHeader{
  color: gray;
}
