@charset "UTF-8";
@font-face {
  font-family: 'Hanna';
  font-style: normal;
  font-weight: 400;
  src: url(../asset/fonts/BM-HANNA.eot);
  src: url(../asset/fonts/BM-HANNA.eot?#iefix) format('embedded-opentype'),
       url(../asset/fonts/BM-HANNA.woff2) format('woff2'),
       url(../asset/fonts/BM-HANNA.woff) format('woff'),
       url(../asset/fonts/BM-HANNA.ttf) format('truetype');
}
.hidden{
  display: none;
}
html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Hanna', "맑은 고딕", serif;
  font-size: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}
#Header{
  width: 100%;
  height: 42px;
  letter-spacing: 1px;
  overflow: hidden;
}
#topMenuIcon{
  display: inline-block;
  width: 22px;
  height: 22px;
  padding: 10px 0 10px 10px;
  cursor: pointer;
  float: left;
}
#topTitle{
  display: inline-block;
  width: auto;
  height: 20px;
  padding: 11px;
  float: left;
}
#topBack{
  display: inline-block;
  width: 58px;
  height: 20px;
  padding: 11px;
  text-align: center;
  cursor: pointer;
  float: right;
}
#subHeader{
  width: auto;
  height: auto;
  padding: 8px 16px;
  font-size: 16px;
}
#ContentWrap{
  width: auto;
  height: auto;
  padding: 12px;
}
#optionList{
  display: inline-block;
  width: 255px;
  margin: 0;

}
