body{
  background: #F0FFFF;
}
#topHidden, #toHome{
  /* light sky #AAD8E3 */
  background: #AAD8E3;
}
#topHidden{
  color: white;
}
#toHome{
  color:white;
}
#topHiddenButton{
  /* light blue #8983F5 */
  border-color: #8983F5;
  color:#8983F5;
  background-color: white;
}
#Header, a{
  background: #8983F5;
  color: white;
}
td.choosePart{
  border-color: transparent;
  /* pastel light blue #C4CAF5 */
  background: #C4CAF5;
  color: white;
}
td.choosePart:hover, td.selectedPart{
  background: transparent;
  color: #8795F5;
}
caption{
  color: #8795F5;
}
.default_exampleWrap{
  color: gray;
}
#toNext{
  color: white;
  background: #AAD8E3;
}
#toNext:hover{
  color: #8795F5;
}
#UserInformation{
  color: #93B5F5;
}
.fillInput{
  color:  #8795F5;
  border-color:  #A4C0F5;
}
